@import 'styles/color';
@import 'styles/elements';

.login{
  background: $backgroundColor1;
  height: 100%;
  width: 100%;
  position: absolute;
  .login-dialog{
    width: 300px;
    height: 400px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  input{
    @extend .input-element;
    margin-top: 7px;
  }

  button{
    @extend .button-element;
    margin-top: 15px;
  }
}
